h1 {
  font-size: 40px;
}

p {
  font-size: 15px;
}

.icons {
  display: flex;
  justify-content: space-around;
}

.card {
  margin-right: 500px;
}
.container {
  background-image: url("./assets/desktop/image-host.jpg");
  background-color: #121725;
  background-repeat: no-repeat;
  background-position: center right;
  align-items: center;
  height: 776px;
 }

 body {
  background-color: #121725;
 }